<form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
    <section class="h-100 bg-dark">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col">
            <div class="card card-registration my-4">
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block">
                  <img src="https://plus.unsplash.com/premium_photo-1679924471066-dd984e92f395?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                    <h3 class="mb-5 text-uppercase">Add Pizza</h3>
  
                    <!-- Pizza Name -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" class="form-control form-control-lg" ngModel="{{productData?.name}}" name="name" required />
                      <label class="form-label">Pizza Name</label>
                    </div>
  
                    <!-- Pizza Type -->
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                      <h6 class="mb-0 me-4">Pizza Type: </h6>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" ngModel="{{productData?.type}}" name="type" value="VEG" />
                        <label class="form-check-label">VEG</label>
                      </div>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" ngModel="{{productData?.type}}" name="type" value="NON_VEG" />
                        <label class="form-check-label">NON-VEG</label>
                      </div>
                    </div>
  
                    <!-- Pizza Size -->
                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
                      <h6 class="mb-0 me-4">Pizza Size: </h6>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" ngModel="{{productData?.pizzaSize}}" name="pizzaSize" value="SMALL" />
                        <label class="form-check-label">Small</label>
                      </div>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" ngModel="{{productData?.pizzaSize}}" name="pizzaSize" value="MEDIUM" />
                        <label class="form-check-label">Medium</label>
                      </div>
                      <div class="form-check form-check-inline mb-0">
                        <input class="form-check-input" type="radio" ngModel="{{productData?.pizzaSize}}" name="pizzaSize" value="LARGE" />
                        <label class="form-check-label">Large</label>
                      </div>
                    </div>
  
                    <!-- Crust Type -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <select class="form-control" ngModel="{{productData?.crustType}}" name="crustType" required>
                          <option value="">Select Crust Type</option>
                          <option value="CHEESY">Cheesy</option>
                          <option value="HAND_TOSSED">Hand Tossed</option>
                          <option value="THIN_AND_CRISPY">Thin and Crispy</option>
                          <option value="DEEP_PAN">Deep Pan</option>
                        </select>
                      </div>
                    </div>
  
                    <!-- Toppings -->
                     <div class="row">
                    <div class="col-md-6 mb-4">
                      <select class="form-control" ngModel="{{productData?.toppings}}" name="toppings" required>
                        <option value="">Select Toppings</option>
                        <option value="PEPPERONI">Pepperoni</option>
                        <option value="MUSHROOMS">Mushrooms</option>
                        <option value="ONIONS">Onions</option>
                        <option value="SAUSAGE">Sausage</option>
                        <option value="BACON">Bacon</option>
                        <option value="BLACK_OLIVES">Black Olives</option>
                        <option value="GREEN_PEPPERS">Green Peppers</option>
                        <option value="PINEAPPLE">Pineapple</option>
                        <option value="EXTRA_CHEESE">Extra Cheese</option>
                      </select>
                    </div>
                  </div>
  
                    <!-- Description -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" class="form-control form-control-lg" ngModel="{{productData?.description}}" name="description" required />
                      <label class="form-label">Description</label>
                    </div>
  
                    <!-- Image URL -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="text" class="form-control form-control-lg" ngModel="{{productData?.imageUrl}}" name="imageUrl" required />
                      <label class="form-label">Image URL</label>
                    </div>
  
                    <!-- Price -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="number" class="form-control form-control-lg" ngModel="{{productData?.price}}" name="price" required />
                      <label class="form-label">Price</label>
                    </div>
  
                    <div class="d-flex justify-content-end pt-3">
                      <!-- <button type="button" class="btn btn-light btn-lg">Reset all</button> -->
                      <button   type="submit" class="btn btn-warning btn-lg ms-2">Update Pizza</button>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  