<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Pizza Paradise</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngSwitch]="menuType" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-auth">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer-register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customer-auth">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
      </ul>
      <ul *ngSwitchCase="'admin'" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/admin-add-product">Add Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-dashboard">Pizza List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-add-coupon">Add Coupon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/coupons-list">Coupon List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
