.checkout-section {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .card {
    border-radius: 10px;
    padding: 20px;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .text-primary {
    color: #007bff;
  }
  
  .order-details-card {
    background-color: #ffffff;
  }
  
  .lead {
    font-size: 1.25rem;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.1rem;
  }
  
  .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  