/* Adjust styles for form and cards if necessary */
.card-registration {
    border-radius: .25rem;
  }
  
  .img-fluid {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  